.gradient-background {
  background: linear-gradient(300deg, #00bfff, #32bed4, #3ca8e6);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#about-us {
  height: 100vh;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}

.mai-title {
  font-size: 200px;
  font-family: "Pacifico", cursive;
}
.mai-title2 {
  font-size: 50px;
}

.btn-mai {
  background-color: #0099d6;
  transition: 0.2s ease-in;
}

.btn-mai:hover {
  background-color: #0056d6;
  color: #000;
}

.hero-bg {
  background-color: #00d5cf;
}

.bg-bluelight {
  background-color: #fbf9f1;
}

.mai-font {
  font-family: "Pacifico", cursive;
}
